.resume-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  @media #{$large-up}{

    justify-content: flex-start;
  }
  span{
    margin-right: 14px;
  }
  svg{
    transition: all .3s ease-in-out;
  }
  &:hover{
    svg{
      transform: rotate(90deg);
    }
  }
}